* {
    box-sizing: border-box;
    margin: 0;
}

nav ul.menu {
    display: flex;
    list-style-type: none;
}

nav ul.menu a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

nav ul.menu a:hover{
    text-decoration: underline;
} 

div.bar .logo {
    font-size: 30px;
    text-shadow: 1px 1px 1px #fff;
    padding: 5px;
} 

header div.bar {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
}


/* Card */
.servicos .card {
    padding: 20px;
}

.servicos .card-body {
    background-color: rgb(199, 199, 199);
    border: rgb(151, 0, 0) solid 5px;
    padding: 30px;
    border-radius: 0px;
    text-align: center;
}

.btn {
    cursor: pointer;
}

.container {
    margin: 0 auto;
    width: 80%;
    background-color: black;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

[class*="col"]{
    width: 100%;
}

/* 100% / 12 = 8.33% * 2 = 16.66% */
@media screen and (min-width: 576px){
    .col-small-1 { width: 8.33%;}
    .col-small-2 { width: 16.66%;}
    .col-small-3 { width: 25%;}
    .col-small-4 { width: 33.33%;}
    .col-small-5 { width: 41.66%;}
    .col-small-6 { width: 50%;}
    .col-small-7 { width: 58.33%;}
    .col-small-8 { width: 66.66%;}
    .col-small-9 { width: 75%;}
    .col-small-10 { width: 83.33%;}
    .col-small-11 {width: 91.66%;}
    .col-small-12 {width: 100%;}
}

@media screen and (min-width: 768px) {
    .col-md-1 { width: 8.33%;}
    .col-md-2 { width: 16.66%;}
    .col-md-3 { width: 25%;}
    .col-md-4 { width: 33.33%;}
    .col-md-5 { width: 41.66%;}
    .col-md-6 { width: 50%;}
    .col-md-7 { width: 58.33%;}
    .col-md-8 { width: 66.66%;}
    .col-md-9 { width: 75%;}
    .col-md-10 { width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
}

