* {
   box-sizing: border-box; 
   margin: 0;
}

header {
    background-color: rgba(0, 0, 0, 0.291);
}

.container{
    background-color: rgb(214, 40, 4);
    width: 80%;
    margin: 0 auto;
}

.logo {
    background-color: rgb(81, 9, 148);
}


body {
    /*color: #60cd2c;*/
    /*background: rgb(0, 39, 61);*/
    /*font-family: 'Courier New', Courier, monospace;*/
    /*font-family: 'Shizuru', cursive;*/
}

/*
header a:link {
    color: white;
}

header a:visited {
    color: blue;
}

header:hover {
    color: chartreuse;
}

header a:active {
    color: rgb(255, 0, 234);
}
*/

/*
header > div > p{
    color: blue;
}
/*
/*
h1.carros, p, h2 {
    color:blueviolet;
}
*/

/*
h1 {
    color: white;
}


h2.carros {
    color:brown;
}
*/

/* comentario */
/*
#sonho-realidade {
    color:aqua
}

p {
    color:blueviolet !important;
}
*/